{% extends 'base.html' %}

{% block title %}
main page
{% endblock title %}

{% block content %}
<a href="../">Назад к списку</a>
<h2>Новое изображение</h2>
<form method="POST" class="post-form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Загрузить</button>
</form>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock content %}